:root {
	--bg-color: var(--color-theme-bg-light);
	--text-color: var(--color-theme-text-dark);
	--bd-color: var(--color-theme-bd-light);
} :root[mode="dark"] {
	--bg-color: var(--color-theme-bg-dark);
	--text-color: var(--color-theme-text-light);
	--bd-color: var(--color-theme-bd-dark);
}

:root {
	@apply transition-[color,background-color];
	@apply bg-(--bg-color) text-(--text-color);
}




a, button, [role="button"], [role="switch"], [role="link"] {
	@apply cursor-pointer;
	@apply transition hover:text-(--color-theme-primary);
} .btn {
	@apply px-2.5 py-0.75;
	@apply rounded-md font-medium;
}
